@import "compass/reset";
@import "compass/css3";

$text_color : #0ac285;
$introduction_color : #dddddd;

html {
  min-width: 1400px;
}


body {
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
}
.header {
  border: 1px solid #CCC;
  background-image: url('../img/mainpage.jpg');
  height: 620px;
  width: 100%;
  position: relative;
  /*opacity: 0.9;*/
  .bar {
    width: 100%;
    height: 40px;
    background-color: $text_color;
    font-size: 1.5em;
    color: white;
    position: relative;
    ul {
      margin-left: 40px;
      li {
        float: left;
        margin-left: 30px;
        padding-top: 12px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .topic {
  	position: relative;
  	z-index: 2;
  	p{
  	  span{
	    font-size: 5em;
	    margin: 20% 30%;
	    color: white;
	    display: block;
      font-weight: bold;
	  }
    }
  }
  .grey {
  	position: absolute;
  	height: 620px;
    width: 100%;
  	top: 0;
  	left: 0;
  	opacity: 0.6;
  	zoom: 1;
  	background-color: black;
  } 
}

h1 {
  color: $text_color;
}

.contain {
    width: 100%;
    height:1450px;
    background-color: $introduction_color;
    .introduction {
      margin: 0 auto;
      text-align: center;
      font-size: 2.5em;
      padding-top: 100px;
      color: $text_color;
      background-color: white;
      padding-bottom: 100px;
      span{
        border-bottom: 2px solid #CCC;
      }
    }
    .first_partion {
      margin: 0 auto;
      width: 90%;
      margin-top: 20px;

      .content_middle {
        width: 100%;
        height: 400px;
        margin: 0 auto;
      .vedio {
        width: 40%;
        height: 100%;
        float: left;
        margin-left: 100px;
        .img{
          width: 100%;
          height: 100%;
        }
      }
      .what {
        width: 39%;
        height: 100%;
        float: left;
        padding-left: 60px;
        h1 {
          font-size: 2.5em;
          margin-bottom: 30px;
          font-weight: bolder;
        }
        p{
          font-size: 1.7em;
          line-height: 1.6;
          text-align: justify;

        }
      }
    }
  }
  .secone_partion {
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
    .content_middle {
        width: 100%;
        height: 400px;
        margin: 0 auto;
      .advantage{
        width: 39%;
        height: 80%;
        float: left;
        padding-left: 60px;
        margin-left: 35px;
        margin-right: 60px;
        h1 {
          font-size: 2.5em;
          margin-bottom: 30px;
          font-weight: bolder;
        }
        p{
          font-size: 1.7em;
          line-height: 1.6;
          text-align: justify;
        }
      }
      .vedio {
        width: 40%;
        height: 80%;
        float: left;
        .img{
          width: 100%;
          height: 100%;
        }
      }
    }
  } 

  .three_partion {
    margin: 0 auto;
    width: 90%;
    margin-top: 0px;
    .how {
      margin: 0 auto;
      width: 90%;
      height: 400px;
      padding-top: 10px;
      .step {
        width: 45%;
        position: relative;
        height: 80%;
        margin-left: 20px;
        float: left;
        img {
          width: 100%;
          height: 250px;
        }
      }
      .step_content {
        width: 45%;
        height: 80%;
        float: left;
        padding-left: 60px;
        h1 {
          font-size: 2.5em;
          margin-bottom: 30px;
          font-weight: bolder;
        }
        p{
          font-size: 1.7em;
          line-height: 1.6;
          text-align: justify;
        }
      }
    }
  }  
}

.example {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-bottom: 50px;
  div {
    border: 1px solid #CCC;
    width: 150px;
    height:150px;
    margin: 0 auto;
    float: left;
    border-radius: 150px;
    margin-right: 80px;
    margin-bottom: 100px;
    opacity: 0.4;
  }
  div:hover {
    opacity: 1;
  }
  div:nth-child(1){
    margin-left: 90px;
    background-image: url("../img/pair1.jpg");
  }
  div:nth-child(2){
    background-image: url("../img/pair2.jpeg");
    background-position: -79px 9px;
  }
  div:nth-child(3){
    background-image: url("../img/pair3.jpeg");
    background-position: -19px -6px;
  }
  div:nth-child(4){
    background-image: url("../img/pair4.jpeg");
    background-position: -119px 0px;
  }
  div:nth-child(5){
    background-image: url("../img/pair5.jpeg");
    background-position: -93px 0px;
  }

}

.example_pic {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  padding-top: -20px;
  color: $text_color;
  background-color: white;
  margin-bottom: 100px;
  span{
    border-bottom: 2px solid #CCC;
  }
}

.bottom {
  width: 100%;
  height: 40px;
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding-top: 10px;
  margin-top: -50px;
}