/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/week3.scss */
html {
  min-width: 1400px;
}

/* line 12, ../sass/week3.scss */
body {
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
}

/* line 20, ../sass/week3.scss */
.header {
  border: 1px solid #CCC;
  background-image: url("../img/mainpage.jpg");
  height: 620px;
  width: 100%;
  position: relative;
  /*opacity: 0.9;*/
}
/* line 27, ../sass/week3.scss */
.header .bar {
  width: 100%;
  height: 40px;
  background-color: #0ac285;
  font-size: 1.5em;
  color: white;
  position: relative;
}
/* line 34, ../sass/week3.scss */
.header .bar ul {
  margin-left: 40px;
}
/* line 36, ../sass/week3.scss */
.header .bar ul li {
  float: left;
  margin-left: 30px;
  padding-top: 12px;
}
/* line 40, ../sass/week3.scss */
.header .bar ul li a {
  text-decoration: none;
  color: white;
}
/* line 47, ../sass/week3.scss */
.header .topic {
  position: relative;
  z-index: 2;
}
/* line 51, ../sass/week3.scss */
.header .topic p span {
  font-size: 5em;
  margin: 20% 30%;
  color: white;
  display: block;
  font-weight: bold;
}
/* line 60, ../sass/week3.scss */
.header .grey {
  position: absolute;
  height: 620px;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  zoom: 1;
  background-color: black;
}

/* line 72, ../sass/week3.scss */
.contain {
  width: 100%;
  height: 1450px;
  background-color: #dddddd;
}
/* line 76, ../sass/week3.scss */
.contain .introduction {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  padding-top: 100px;
  color: #0ac285;
  background-color: white;
  padding-bottom: 100px;
}
/* line 84, ../sass/week3.scss */
.contain .introduction span {
  border-bottom: 2px solid #CCC;
}
/* line 88, ../sass/week3.scss */
.contain .first_partion {
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
}
/* line 93, ../sass/week3.scss */
.contain .first_partion .content_middle {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
/* line 97, ../sass/week3.scss */
.contain .first_partion .content_middle .vedio {
  width: 40%;
  height: 100%;
  float: left;
  margin-left: 100px;
}
/* line 102, ../sass/week3.scss */
.contain .first_partion .content_middle .vedio .img {
  width: 100%;
  height: 100%;
}
/* line 107, ../sass/week3.scss */
.contain .first_partion .content_middle .what {
  width: 39%;
  height: 100%;
  float: left;
  padding-left: 60px;
}
/* line 112, ../sass/week3.scss */
.contain .first_partion .content_middle .what h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: bolder;
}
/* line 117, ../sass/week3.scss */
.contain .first_partion .content_middle .what p {
  font-size: 1.7em;
  line-height: 1.6;
  text-align: justify;
}
/* line 126, ../sass/week3.scss */
.contain .secone_partion {
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
}
/* line 130, ../sass/week3.scss */
.contain .secone_partion .content_middle {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
/* line 134, ../sass/week3.scss */
.contain .secone_partion .content_middle .advantage {
  width: 39%;
  height: 80%;
  float: left;
  padding-left: 60px;
  margin-left: 35px;
  margin-right: 60px;
}
/* line 141, ../sass/week3.scss */
.contain .secone_partion .content_middle .advantage h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: bolder;
}
/* line 146, ../sass/week3.scss */
.contain .secone_partion .content_middle .advantage p {
  font-size: 1.7em;
  line-height: 1.6;
  text-align: justify;
}
/* line 152, ../sass/week3.scss */
.contain .secone_partion .content_middle .vedio {
  width: 40%;
  height: 80%;
  float: left;
}
/* line 156, ../sass/week3.scss */
.contain .secone_partion .content_middle .vedio .img {
  width: 100%;
  height: 100%;
}
/* line 164, ../sass/week3.scss */
.contain .three_partion {
  margin: 0 auto;
  width: 90%;
  margin-top: 0px;
}
/* line 168, ../sass/week3.scss */
.contain .three_partion .how {
  margin: 0 auto;
  width: 90%;
  height: 400px;
  padding-top: 10px;
}
/* line 173, ../sass/week3.scss */
.contain .three_partion .how .step {
  width: 45%;
  position: relative;
  height: 80%;
  margin-left: 20px;
  float: left;
}
/* line 179, ../sass/week3.scss */
.contain .three_partion .how .step img {
  width: 100%;
  height: 250px;
}
/* line 184, ../sass/week3.scss */
.contain .three_partion .how .step_content {
  width: 45%;
  height: 80%;
  float: left;
  padding-left: 60px;
}
/* line 189, ../sass/week3.scss */
.contain .three_partion .how .step_content h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: bolder;
}
/* line 194, ../sass/week3.scss */
.contain .three_partion .how .step_content p {
  font-size: 1.7em;
  line-height: 1.6;
  text-align: justify;
}

/* line 204, ../sass/week3.scss */
.example {
  width: 90%;
  height: 250px;
  margin: -30px auto;
  padding-bottom: 50px;
}
/* line 209, ../sass/week3.scss */
.example div {
  border: 1px solid #CCC;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  float: left;
  border-radius: 150px;
  margin-right: 80px;
  margin-bottom: 100px;
  opacity: 0.4;
}
/* line 220, ../sass/week3.scss */
.example div:hover {
  opacity: 1;
}
/* line 223, ../sass/week3.scss */
.example div:nth-child(1) {
  margin-left: 90px;
  background-image: url("../img/pair1.jpg");
}
/* line 227, ../sass/week3.scss */
.example div:nth-child(2) {
  background-image: url("../img/pair2.jpeg");
  background-position: -79px 9px;
}
/* line 231, ../sass/week3.scss */
.example div:nth-child(3) {
  background-image: url("../img/pair3.jpeg");
  background-position: -19px -6px;
}
/* line 235, ../sass/week3.scss */
.example div:nth-child(4) {
  background-image: url("../img/pair4.jpeg");
  background-position: -119px 0px;
}
/* line 239, ../sass/week3.scss */
.example div:nth-child(5) {
  background-image: url("../img/pair5.jpeg");
  background-position: -93px 0px;
}

/* line 246, ../sass/week3.scss */
.example_pic {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  padding-top: -20px;
  color: #0ac285;
  background-color: white;
  margin-bottom: 100px;
}
/* line 254, ../sass/week3.scss */
.example_pic span {
  border-bottom: 2px solid #CCC;
}

/* line 259, ../sass/week3.scss */
.bottom {
  width: 100%;
  height: 40px;
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding-top: 10px;
  margin-top: -50px;
}
